@import "tailwindcss";
@plugin "daisyui";

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px
}
html{
    background-color: rgb(247, 245, 245);
}
.card-title{
    font-size: 25px;
}
.card:hover{
   
    background: #555252;
    color: white;
    transition: all .3s ease;
}