@import "tailwindcss";
@plugin "daisyui";

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px
}
html{
    background-color: rgb(247, 245, 245);
}
.card-title{
    font-size: 25px;
}
.card{
    transition: all .4s ease;

}
.card:hover{
background: rgb(192, 187, 187);

    scale: 102%;
}
.fa-trash:active{
    scale: 90%;
    color: green;
    
}
